.details-page {
	display: flex;
	flex-direction: row;
}

.details-main {
	flex-grow: 1;
}

.working-hours {
	margin-left: 4rem;
	min-width: 20rem;
}

h3 {
	line-height: 3.2rem;
}

.working-hours h3 {
	font-size: 2rem;
}

.details-info {
	display: flex;
}

.details-info > div {
	flex: 1;
}

.info-title {
	border-bottom: 1px solid;
	font-weight: 500;
	line-height: initial;
	margin-bottom: .8rem;
	padding-bottom: .8rem;
	width: 50%;
}

.info-block:not(:last-child) {
	margin-bottom: .5rem;
}

.hours-list label {
	display: inline;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5rem;
	padding-right: 2px;
}
