@import 'homepage.css';
@import 'details.css';

body {
  background-color: #FFF;
  transition: background-color .2s ease-in;
}

label {
	font-size: 1.3rem;
	font-weight: bold;
	margin: 0;
}

.page {
	margin: 5% auto;
	max-width: 1200px;
	padding: 0 12rem;
}