<table>
	<thead>
		<tr>
			<th>Nome</th>
			<th>Endereço</th>
			<th>Especialidade</th>
			<th>Contato</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each items}}
			<tr>
				<td>{{name}}</td>
				<td>{{location.address}}</td>
				<td>{{specialty}}</td>
				<td>{{contact.phone}}</td>
				<td><a href="#{{id}}">Detalhes</a></td>
			</tr>
		{{/each}}				
	</tbody>
</table>