<div class="page">
	<div class="details-page">
		<div class="details-main">
			<div class="details-title">
				<h3>{{name}}</h3>
			</div>
			<div>
				<p>{{ description }}</p>
				<p>{{ descriptionSub }}</p>
			</div>
			<div class="details-info">
				<div class="details-col">
					<div class="info-title">Contato</div>
					<div class="info-block">
						<label>Telefone</label>
						<div>{{contact.phone}}</div>
					</div>
					<div class="info-block">
						<label>E-mail</label>
						<div><a href="mailto:{{contact.email}}">{{contact.email}}</a></div>
					</div>
					<div class="info-block">
						<label>Site</label>
						<div><a href="http://{{contact.website}}">{{contact.website}}</a></div>
					</div>
				</div>
				<div class="details-col">
					<div class="info-title">Localização</div>
					<div class="info-block">
						<label>Cidade</label>
						<div>{{location.city}}</div>
					</div>
					<div class="info-block">
						<label>Endereço</label>
						<div>{{location.address}}</div>
					</div>
					<div class="info-block">
						<label>CEP</label>
						<div>{{location.zipCode}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="working-hours">
			{{#if isOpen}}
				<h3>Aberto agora</h3>
			{{else}}
				<h3>Fechado agora</h3>
			{{/if}}

			<div class="info-title">Horários</div>

			<div class="hours-list">
				{{#each workingHours}}
					<div>
						<label>{{label}}:</label>
						{{#if begin}}
							<span class="hours">
								{{ begin }} - {{ end }}
							</span>
						{{else}}
							<span class="hours">Fechado</span>
						{{/if}}
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>