<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Vet4u</title>

  {{#each htmlWebpackPlugin.files.css}}
    <link rel="stylesheet" href="{{htmlWebpackPlugin.options.path}}{{this}}" />
  {{/each}}

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>
<body>
  <div id="root"></div>

  {{#each htmlWebpackPlugin.files.js}}
    <script type="text/javascript" src="{{htmlWebpackPlugin.options.path}}{{this}}"></script>
  {{/each}}
</body>
</html>
